.container-politica{
    margin: 50px;
}

.container-politica h1{
    font-family: var(--destaque);
    font-size: 30px;
    text-align: center;
}

.container-politica h2{
    font-family: var(--fonte);
    font-weight: 700;
    margin: 20px 0 10px 20px;
}

.container-politica p{
    text-indent: 20px;
}

.container-politica li{
    list-style-type: disc;
    margin-left: 20px;
}


@media(max-width:720px){
    .container-politica{
        margin: 20px;
    }
}