.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.img-ia{
    width: 20%;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-header p, h2{
    font-size: 40px;
}

.questoes{
    margin: 20px 40px;   
    padding: 10px 25px;  
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0.2); 
    font-size: 20px;
    border-radius: 10px;
}

.wrong-answer{
    color: red;
}

.correct-answer{
    color: rgb(1, 253, 1);

}

.errado{
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -5px;
}

.certo{
    color: rgb(1, 253, 1);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -5px;
}

.botoes{
    display: flex;
   
}

.botoes-centro{
    margin: auto;
}

.botao{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    margin: auto;
    cursor: pointer;
    border: 1px solid #ccc; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 10px 30px 0;
}