.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.img-ia{
    width: 20%;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-header p, h2{
    font-size: 40px;
    font-family: 'segoe ui';
}

.questoes{
    margin: 20px 40px;   
    padding: 10px 25px;  
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0.2); 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.wrong-answer{
    color: red;
}

.correct-answer{
    color: rgb(1, 253, 1);

}

.errado{
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -5px;
}

.certo{
    color: rgb(1, 253, 1);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: -5px;
}

.botoes{
    display: flex;
   
}

.botoes-centro{
    margin: auto;
    
}

.botao{
    background-color: #0500d1;
    border: none;
    font-family: 'segoe ui';
    font-size: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    line-height: 40px;
    margin: auto;
    cursor: pointer;
    padding: 0 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

@media (max-width:1024px){
    .botao{
        font-size: 18px;
        padding: 0 20px;
    }
}