.questions{
    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    flex-direction: column;
}

.option-radio{
    
    cursor: pointer;
}
.option-label{
    cursor: pointer;
}






