.gabarito{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--platina);
    padding: 20px 0;
    min-height: 100vh;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .loading-gabarito{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }

.header-gabarito{
    display: flex;
    flex-direction: row;
    margin: 50px 30% 0 285px;
    background-color: var(--container);
    border-radius: 5px;
}

.img-ia{
    width: 150px;
    margin: -50px 20px 0;
}

.text-gabarito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.text-gabarito p{
    font-size: 20px;
    font-family: var(--fonte);
    
}

.text-gabarito h2{
    font-size: 20px;
    font-family: var(--destaque);
    margin-bottom: 5px;
    color: var(--rosa);
}



.quadrados-gabarito{
    position: fixed;
    right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: white;
    padding: 10px;
    border: 2px solid var(--azul);
    border-radius: 7px;
}

.quadrado-gabarito{
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
    
}

.quadrado-certo{
    background-color: var(--verde);
}

.quadrado-errado{
    background-color: var(--rosa);
}

.quadrado-meio{
    background-color: rgb(247, 247, 110);
}

.questoes{
    margin: 20px 40px;   
    padding: 10px 25px;  
    background-color: var(--container);   
    font-size: 20px;
    font-family: var(--fonte);
    border-radius: 5px;
    margin:20px 20px 20px 285px; ;
}

.wrong-answer{
    background-color: var(--rosa);
    color: white;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.correct-answer{
    background-color: var(--verde);
    color: white;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.answer{
    background-color: rgb(247, 247, 110);
    color: white;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: -5px;
}

.errado{
    color: var(--rosa);
    height: 30px;
    margin-bottom: -5px;
}

.certo{
    color: var(--verde);
    height: 30px;
    margin-bottom: -5px;
}

.meio-certo{
    color: rgb(247, 247, 110);
    height: 30px;
    margin-bottom: -5px;
}

.botoes{
    display: flex;
   
}

.botoes-centro{
    margin: auto;
    display: flex;
    gap: 20px;
    padding-left: 285px;
    
}

.botao{
    background-color: var(--azul);
    border: none;
    font-family: var(--destaque);
    font-size: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    line-height: 40px;
    margin: auto;
    cursor: pointer;
    padding: 0 30px;
    
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    padding-bottom: 5px;
    font-family: var(--fonte);
}

.container-copiar{
    background-color: rgb(206, 204, 204);
    margin: -10px -25px 0 -25px;
    margin-bottom: 25px;
    border-radius: 5px 5px 0 0 ;
}

.copiar{
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: var(--fonte);
    cursor: pointer;
    
}

.icon-copiar{
    height: 20px;
}

.mensagem{
    color: black;
}


.container_loading{
    text-align: center;
    margin: auto;
  }
  
  .container_loading p{
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
  }

  .hidden {
    display: none;
  }
  
  .loading {
    background-image: none;
    background: var(--azul);
  }


@media (max-width:900px){
   
    .questoes{
        margin: 20px;
        padding: 10px;
        font-size: 14px;
    }
    .header-gabarito{
        margin-left: 20px;
    }
    .text-gabarito p{
        font-size: 20px;
    }
    .img-ia{
        width: 100px;
        margin: -50px 10px 0;
    }
    .quadrados-gabarito{
        right: 10px;
    }
    .quadrado-gabarito{
        width: 15px;
        height: 15px;
    }
    .botoes-centro{
        padding-left: 0;
    }
    .botao{
        font-size: 16px;
        padding: 0 20px;
    }
    .container-copiar{
        margin: -10px -10px 10px -10px;
    }
    .simulado .loading{
        width: 100px;
        height: 100px;
      }
}