.simulado{
  width: 100%;
  background-image: url('/circuito.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container{
  display: flex;
  margin: auto;
  width: 1070px;
  height: 80vh;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-radius: 15px;
  border: 1px solid #ccc; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0.2); 
  background-color: white;
}

.descricao{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-indent: 30px;
  color: #4f5050;
}

.container  .container_imagem{
  width: 45%;
  background: radial-gradient(circle, #f0f0f0, #c0c0c0);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.container_imagem .ia_principal{
  height: 60vh;
}


.form_home{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 30px;
  gap: 10px
}

.container_logo{
  display: flex;
  margin: auto;
  align-items: center;
  gap: 10px;
  font-family: 'segoe ui';
  font-size: 40px;
  font-weight: 800;
}

.logo{
  width: 80px;
}

.input_home{
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #0500d1;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_home::-ms-expand {
  display: none;
}

.label_home{
  font-family: 'segoe ui';
  font-size: 16px;
}

.button_home{
  background-color: #0500d1;
  border: none;
  font-family: 'segoe ui';
  font-size: 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  line-height: 40px;
  cursor: pointer;
}

.brilho{
  width: 40px;
  margin-bottom: -13px;
  margin-left: 20px;
  
}

  
.container_loading{
  text-align: center;
  margin: auto;
}

.container_loading p{
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}





.container-colar{
  background-color: #0500d1;
}

.colar{
  background-color: #0500d1;
  border: none;
  color: white;
  padding: 5px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  cursor: pointer;
}

.textarea_home{
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  border: 2px solid #0500d1;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hidden {
  display: none;
}

.simulado.loading {
  background-image: none;
  background-color: #0500d1;
}

  

@media (max-width:1024px){
  .container .container_imagem{
    display: none;
  }
  .container{
    width: 90%;
    height: 90vh;
    padding: 0;
    
  }
 
  .form_home{
    padding-right: 0;
  }
  .container_logo{
    font-size: 30px;
  }
  .simulado .loading{
    width: 100px;
    height: 100px;
  }
}

