.simulado{
  width: 100%;
  background-color: var(--platina);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.simulado .container{
  display: flex;
  margin: 20px 20px 20px 265px;
  height: 100vh;
  gap: 20px; 
}

.left{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-interger{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interger-top{
  
  display: flex;
  flex-direction: column;
  background-color: var(--container);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  height: calc(20% - 20px);
  justify-content: center;
}

.editar{
  display: flex;
  flex-direction: column;
  background-color: var(--container);
  padding: 20px;
  border-radius: 5px;
  gap: 5px;
}

.editar textarea{
  width: 90%;
  height: 20vh;
  font-family: var(--fonte);
  padding: 10px;
  resize: none;
}

.email-editar{
  color: var(--rosa);
  font-family: var(--destaque) !important;
} 

.editar h2{
  font-family: var(--destaque);
}

.editar p, .editar label, .editar input, .editar select {
  font-family: var(--fonte);
}

.editar select{
  padding: 1px;
}

.editar button{
  background-color: var(--azul);
  border: none;
  padding: 0 20px 3px;
  border-radius: 5px;
  font-family: var(--destaque);
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.interger-bottom{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--container);
  border-radius: 5px;
  height: 80%;
  justify-content: center;
  
}

.right{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
  padding: 20px 0 20px 40px;
  background-color: var(--container);
  border-radius: 5px;
  justify-content: center;
}

.right h2{
  margin: 0 auto 20px;
  font-family: var(--destaque);
  font-size: 20px;
  
}

.right p{
  font-family: var(--fonte);
  font-size: 14px;
  color: var(--rosa);
  width: 100px;
}

.orientacao{
  font-size: 30px !important;
}

.form-links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descricao{
  font-size: 14px;
  font-family: var(--fonte);
  text-indent: 30px;
  color: #4f5050;
}

.container .container_imagem{
 position: absolute;
 bottom: 60px;
 right: 10%;
}

.container_imagem .ia_principal{
  height: 33vh;
}

.container_logo{
  display: flex;
  flex-direction: column;
  background-color: var(--container);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  height: calc(40% - 20px);
  justify-content: center;
}

.cores {
  font-family: var(--destaque);
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(90deg, var(--rosa), var(--azul), var(--verde));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  padding-bottom: 10px;
}

.logo{
  width: 80px;
}

.form_simulado{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--container);
  border-radius: 5px;
  height: 60%;
  justify-content: center;
}

.input_simulado{
  width: 100%;
  font-size: 14px;
  font-family: var(--fonte);
  padding: 10px 140px 10px 10px;
  margin-top: -7px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid var(--azul);
  background-color: white;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 10;
  resize: none;
  margin-bottom: 10px;
}

.input_simulado::-ms-expand {
  display: none;
}

.label_simulado{
  width: max-content;
  font-family: var(--destaque);
  font-size: 16px;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent 50%, white 50%);
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  z-index: 20;
  padding: 0 5px;
}

.button_simulado{
  background: var(--azul);
  border: none;
  font-family: var(--destaque);
  font-size: 16px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  cursor: pointer;
  width: max-content;
  padding: 0 30px 5px;
  margin: -45px auto 0;
  position: relative;
  z-index: 20;
  margin-right: 5px;
}

.brilho{
  width: 35px;
  margin-bottom: -13px;
}

.container_loading{
  text-align: center;
  margin: auto;
}

.container_loading p{
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}

.container-textarea{
  background-color: white;
  position: relative;
  padding: 15px 12px 12px 12px;
  margin-top: -7px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 2px solid var(--azul);
  padding-bottom: 40px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
}

.colar{
 width: max-content;
  background-color: transparent;
  margin: -35px 30px ;
  border: none;
  position: relative;
  z-index: 20;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: var(--fonte);
  margin-bottom: 0;
  cursor: pointer;
}

.icon-colar{
  height: 14px;
}

.textarea_simulado{
  width: 100%;
  font-size: 14px;
  font-family: var(--fonte);
  outline: none;
  border: none;
  resize: none;
}

.hidden {
  display: none;
}

.loading {
  background-image: none;
  background: var(--azul);
  min-height: 100vh;
}

.icon-chevron{
  height: 16px;
}

.form-active{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
  padding: 10px;
  margin-top: -2px;
  border: 2px solid var(--azul);
  border-radius: 5px;
}

.button-active{
  border-bottom: 2px solid var(--azul) !important;
  color: var(--azul) !important;
}

.link-rapido{
  border: none;
  border-bottom: 2px solid black;
  font-family: var(--fonte);
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.link-rapido:hover, .link-rapido:active{
  color: var(--azul);
  border-bottom: 2px solid var(--azul);
}

.button-link{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--fonte);
  font-size: 16px;
  border-bottom: 2px solid black;
  padding: 0;
}

.button-link:hover, .button-link:active, .button-link:focus{
  color: var(--azul);
  border-bottom: 2px solid var(--azul);
}


@media (max-width:768px){
  .simulado{
    height: auto;
    padding-bottom: 20px;
  }

  .simulado .container{
  margin: 20px;
  flex-direction: column;
  height: auto;
  padding-bottom: 20px;
  }
  .left{
    width: 100%;
    margin-top: 40px;
    
  }
  .right{
    width: calc(100% - 40px);
  }

  .container-interger{
    margin-top: 40px;
    height: auto;
  }
  .input_simulado{
    padding-right: 95px;
  }
  .button_simulado{
    padding: 0 0 5px 10px;
  }
  .interger-top{
    height: auto;
  }
  .interger-bottom{
    height: auto;
    padding-bottom: 20px;
  }
} 



@media (max-width:900px){
  .simulado .loading{
    width: 100px;
    height: 100px;
  }

  .simulado .container{
  margin: 20px;
  } 
}



