.container-simulado{
    background-color: var(--platina);
    padding: 20px 0;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0 30% 0 285px;
    background-color: var(--container);
    border-radius: 5px;
    margin-top: 50px;
}

.img-IA{
    width: 150px;
    margin: -50px 20px 0;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.text-header h2{
    font-size: 20px;
    font-family: var(--destaque);
    color: var(--rosa);
    margin-bottom: 10px;
    
}

.text-header p{
    font-family: var(--fonte);
    font-size: 30px;
    width: 100%;
}

.questions{
    margin: 20px 20px 20px 285px;   
    padding: 10px 25px;  
    background-color: var(--container);  
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}


.options{
    display: flex;
    flex-direction: column;
}



.option-label{
    cursor: pointer;
}

.button{
    display: flex;
    
}

.enviar{
    background-color: var(--azul);
    border: none;
    font-family: var(--destaque);
    font-size: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    line-height: 40px;
    margin: auto;
    cursor: pointer;
    padding: 0 30px;
}

.input-simulado{
    font-size: 20px;
    font-family: var(--fonte);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--azul);
    resize: none;
}
.quadrados{
    position: fixed;
    right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: white;
    padding: 10px;
    border: 2px solid var(--azul);
    border-radius: 7px;
}

.quadrado{
    width: 30px;
    height: 30px;
    border: 2px solid var(--azul);
    background-color: white;
    border-radius: 5px;
    
}

.quadrado-ativo{
    background-color: var(--azul) !important;
}

@media (max-width:720px){
    .questions{
        margin: 20px;
        padding: 10px;
        font-size: 14px;
    }
    .input-simulado{
        font-size: 14px;
    }
    .header{
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 10px;
        padding-right: 5px;
    }
    .text-header p{
        font-size: 16px;
    }
    .img-IA{
        width: 100px;
        margin: -50px 10px 0;
    }
    .quadrados{
        top: 10px;
        right: 70px;
        padding: 5px;
        gap: 3px;
        
    }
    .quadrado{
        width: 12px;
        height: 12px;
    }
}

@media (min-width:721px) and (max-width:900px){
    .questions{
        margin: 20px;
        padding: 10px;
        font-size: 14px;
    }
    .input-simulado{
        font-size: 14px;
    }
    .header{
        margin-left: 20px;
    }
    .text-header p{
        font-size: 20px;
    }
    .img-IA{
        width: 100px;
        margin: -50px 10px 0;
    }
    .quadrados{
        right: 10px;
    }
    .quadrado{
        width: 15px;
        height: 15px;
    }
}







  
  






